*~
*.swp
.DS_Store
.tea
npm-debug.log
lerna-debug.log
npm-debug.log*
package-lock.json
yarn-error.log
esm/
temp_esm/
dist/
node_modules/
examples/test
.idea/
.vscode/
tsconfig.tsbuildinfo
doc-site
.lerna-changelog
.history
.lint-report.log
.umi
.umi-production
*.lock
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# @generated: @expo/electron-adapter@0.0.55
/.expo/*
# Expo Web
/web-build/*
# electron-webpack
/dist
# @end @expo/electron-adapter
