*~
*.swp
.DS_Store
.tea
npm-debug.log
lerna-debug.log
npm-debug.log*
package-lock.json
yarn-error.log
esm/
temp_esm/
dist/
node_modules/
examples/test
.idea/
.vscode/
tsconfig.tsbuildinfo
doc-site
.lerna-changelog
.history
.lint-report.log
.umi
.umi-production
*.lock
